    <header>
        <a href="/">
            <div class="logo"><img src="images/logo java2.svg" alt="log"></div>
        </a>
        <ul>
            <li><a href="/"><span class="material-symbols-outlined menu">menu</span></a></li>
            <li><a href="/cart"><span class="material-symbols-outlined menu">shopping_cart</span></a></li>
            <li><a href="/login"><span class="material-symbols-outlined menu">person</span></a></li>
        </ul>
    </header>
