<%- include("../partials/head") %>
<body>
<%- include("../partials/header") %>
    <main>
        <section class="login_full">
            <div class="center">
                <div class="center">
                <form class="formulario" method = "post" action = "/products" enctype = "multipart/form-data">
                    <h2>Crear producto</h2>
                    <div class="txt_field">
                        <input name="name" type="text" required>
                        <span></span>
                        <label>Nombre</label>
                    </div>
                    <div class="txt_field">
                        <input name="category" type="text" required>
                        <span></span>
                        <label>Clase</label>
                    </div>
                    <div class="txt_field">
                        <input name="description" type="text" required>
                        <span></span>
                        <label>Descripción</label>
                    </div>
                    <div class="txt_field">
                        <input name="price" type="text" required>
                        <span></span>
                        <label>Precio</label>
                    </div>
                   <div class="upload">
                        <input type="file" id="file" accept="image/*" name ="imagen-producto">
                        <label for="file"> Cargar imagen</label>
                    </div>
                    <input type="submit" value="Crear producto">            
                </form>
            </div>
        </section>
    </main>
</body>
</html>
