<%- include("../partials/head") %>

<body>
    <%- include("../partials/header") %>
        <section class="login_full">
            <div class="edit_page">
                <div class="center">
                    <form class="formulario" method="post">
                        <div class="txt_field">
                            <input type="text" required>
                            <label><%= producto.nombre %></label>
                        </div>
                        <div class="txt_field">
                            <input type="text" required>
                            <label><%= producto.precio %></label>
                        </div>
                    </form>
                    <div class="txt_field_comment">
                        <textarea class="box_comment" name="descripcion" placeholder="Descripción"></textarea>
                    </div>
                    
                    <div class="upload_edit">
                        <input type="file" id="file" accept="image/*">
                        <label for="file"> Cargar imagen</label>
                    </div>
                        <div class="botones-edit">
                            <a href="/products/<% producto.id %>/edit"><button><span class="material-symbols-outlined iconos_edit">edit</span></button></a>
                            <a href="/edit/<% producto.id %>"><button><span class="material-symbols-outlined iconos_edit">delete</span></button></a>
                        </div>
                    
            </div>
        </section>
    </main>
</body>
</html>

