<%- include("../partials/head") %>

<body>
<%-include("../partials/header")%>


<main>
<div class="product">
<div class="prod-title">Cafe Nicaragua</div>
<div class="prod-sub">Los granos Arábica de Master Origin Nicaragua son secados de forma meticulosa bajo el sol de Nicaragua, para absorver los azucares naturales del fruto. Un café con equilibrio perfecto, satinada textura suave y dulces notas a cereales.
</div>
<img class="product-image" src="images/Untitled-2.png">
</div>

<div class="product-bottom"><span class="product-window-price">$500</span>
                        <div class="cart-quantity-controls">
                            <button>-</button>
                            <input type="number" value="1" readonly />
                            <button>+</button>
                        </div>
</div>
    <div class="pagar"><input type="submit" value="Agregar al carro"></div>

</main>
<%-include("../partials/footer")%>
</body>
</html>
