<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>JAVA CAFE</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css0">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="css/styles.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <a href="/">
            <div class="logo"><img src="images/logo java2.svg" alt="log"></div>
        </a>
        <ul>
            <li><a href="/"><span class="material-symbols-outlined menu">menu</span></a></li>
            <li><a href="/cart"><span class="material-symbols-outlined menu">shopping_cart</span></a></li>
            <li><a href="/login"><span class="material-symbols-outlined menu">person</span></a></li>
        </ul>
    </header>

<main>

    <div class="tus-compras"><span class="material-symbols-outlined">arrow_back_ios</span><span>Tus compras</span></div>
    <div class="cart">
        <div class="wrapper">
            <div class="cart-item">
                <form action="">
                    <div class="cart-product">
                        <div class="cart-image" style="background-image:url(images/Untitled-2.png)"></div>
                        <div class="cart-product-info">
                            <p class="productname">Café Ecuador</p>
                            <p class="productprice">$500</p>
                        </div>
                    </div>
                    <div class="cart-quantity">
                        <div><span class="material-symbols-outlined cancel">cancel</span></div>
                        <div class="cart-quantity-controls">
                            <button>-</button>
                            <input type="number" value="1" readonly />
                            <button>+</button>
                        </div>
                    </div>
                    <div class="cart-unit-price"></div>
                    <div class="cart-product-total"></div>

                </form>
            </div>
        </div>
        <div class="wrapper">
            <div class="cart-item">
                <form action="">
                    <div class="cart-product">
                        <div class="cart-image" style="background-image:url(images/Untitled-2.png)"></div>
                        <div class="cart-product-info">
                            <p class="productname">Café Brasil</p>
                            <p class="productprice">$550</p>
                        </div>
                    </div>
                    <div class="cart-quantity">
                        <div><span class="material-symbols-outlined cancel">cancel</span></div>
                        <div class="cart-quantity-controls">
                            <button>-</button>
                            <input type="number" value="2" readonly />
                            <button>+</button>
                        </div>
                    </div>
                    <div class="cart-unit-price"></div>
                    <div class="cart-product-total"></div>

                </form>
            </div>
        </div>
        <div class="wrapper">
            <div class="cart-item">
                <form action="">
                    <div class="cart-product">
                        <div class="cart-image" style="background-image:url(images/Untitled-2.png)"></div>
                        <div class="cart-product-info">
                            <p class="productname">Café Nicaragua</p>
                            <p class="productprice">$700</p>
                        </div>
                    </div>
                    <div class="cart-quantity">
                        <div><span class="material-symbols-outlined cancel">cancel</span></div>
                        <div class="cart-quantity-controls">
                            <button>-</button>
                            <input type="number" value="1" readonly />
                            <button>+</button>
                        </div>
                    </div>
                    <div class="cart-unit-price"></div>
                    <div class="cart-product-total"></div>

                </form>
            </div>
        </div>
    </div>

    <div class="cart-total"><span>Total</span><span>$2300</span></div>
    <div class="pagar"><input type="submit" value="Ir a pagar"></div>



</main>

</body>
</html>
