<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Java Cafe</title>
</head>
<body>
    <header>
        <nav>
            <ul class="menu">
                <li>Home</li>
                <li>Login / Register</li>
                <li>Contacto</li>
                <li>Carrito</li>
            </ul>
        </nav>
    </header>
    <main>

    </main>
    <footer>

    </footer>
</body>
</html>