<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <from>
        <label for="nombre">Ingresá tu nombre</label>
        <input type="text" name="nombre" id="nombre">
        <label for="password">Ingresá tu password</label>
        <input type="password" name="password" id="password">
    </from>
</body>
</html>