<%- include("./partials/head") %>

<body>
<%- include("./partials/header") %>


<main>
    <div class="product">
        <div class="prod-title"><%= producto.nombre %></div>
        <img class="product-image" src="images/Untitled-2.png">
        <div class="product-bottom">$500</div>
    </div>

    <span class="material-symbols-outlined">delete</span>

</main>
<%- include("./partials/footer") %>
</body>
</html>

