    <header>
        <a href="/">
            <div class="logo"><img src="/images/logo java2.svg" alt="logo"></div>
        </a>
        <ul>
            <li><a href="/"><span class="material-symbols-outlined menu burger">menu</span></a></li>
            <li><a href="/cart"><span class="material-symbols-outlined menu navs">shopping_cart</span></a></li>
            <% if (locals.isLogged) { %>
                <li><a href="/users/profile"><span class="material-symbols-outlined menu navs">person</span></a></li>
            <% } else { %>
                <li><a href="/users/login"><span class="material-symbols-outlined menu navs">person</span></a></li>
            <% } %>
             
        </ul>
    </header>
