<%- include("../partials/head") %>

<body>
<%-include("../partials/header")%>
    <main>
        <section class="login_full">
         <div class=></div>  
            <div>
                <h2>Inicia sesi칩n</h2>  
            <div class="center">
                <form method="post">
                    <% if (locals.errors && errors.login) { %>
                        <div><%= errors.login.msg %> </div>
                    <% } %>
                    <div class="txt_field">
                        <input type="text" name ="email" required>
                        <span></span>
                        <label>Email</label>
                    </div>
                    <div class="txt_field">
                        <input type="password" required>
                        <span></span>
                        <label>Contrase침a</label>
                    </div>
                    <div class="forgot">Olvidaste la contrase침a?</div>
                    <input type="submit" value="Iniciar sesi칩n">
                    <div class="link_de_inicio">
                        No sos miembro? <a href="/register">Regristrate</a>
                    </div>
                </form>
            </div>
        </div>
        </section>
    </main>
</body>
</html>
