<%- include("../partials/head") %>

<body>
<%-include("../partials/header")%>
<main>
  <section class="login_full">           
      <div class="profile">
          <div><span class="bienvenido">Bienvenido </span><span class="bienvenido_user"><%= user.name %></span></div>
      </div>
  </section>
</main>
</body>